{% extends 'navigation.html' %}
{% load static %}
{% block body %}
<h1 style="color:black;margin:10px;font-size:30px">About</h1>

<div class="jumbotron" style="background-color:white">
     <div class="row">
          <div class="col-md-6">
          <img src="{% static 'images\add4.jpg' %}" style="margin-left:10%;width:60%;hight:97%;border-radius:8px">
          </div>

          <div class="col-md-6">
               <p style="margin-top:10px;color:black">University admission or college admission is the process through which students enter tertiary education at universities and colleges. Systems vary widely from country to country, and sometimes from institution to institution. </p>
     <p style="margin-top:10px;color:black">In many countries, prospective university students apply for admission during their last year of high school or community college. In some countries, there are independent organizations or government agencies to centralize the administration of standardized admission exams and the processing of applications.</p>
          </div></div>
</div>


{% endblock %}